@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import 'colors';
@import 'theme';

html,
body,
#root {
  height: 100%;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  background-color: $light-blue;
}

// bootstrap override
.container {
  max-width: 960px;
}
